* {
  font-family: "Pretendard", sans-serif !important;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.quick {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 40px 0px 16px;
  border-bottom: 1px solid #eee;
}
.quick ul {
  display: flex;
  gap: 40px;
}
.quick li {
  border-radius: 15px;

  cursor: pointer;
}
.quick li.on {
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: sans-serif;
}
#fullpage {
  position: relative;
  top: 0px;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.section {
  width: 100%;
  height: 100%;
  position: relative;
}
.full1 {
  width: 100%;
  height: 100vw;
  background-image: url(/img/main_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.full2 {
  width: 100%;
  height: 100vw;
  background-image: url(/img/jokgu_info.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.full3 {
}
.full4 {
  width: 100%;
  height: 100vw;
  background-image: url(/img/itc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.full5 {
}

.full2 span {
  color: #000;
}

.quick ul li a {
  display: block;
  height: 70px;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  background-color: none;
  color: #aaaaaa;
  font-size: 20px;
  font-weight: 500;
}
.quick ul li.on a {
  padding-bottom: 0px;
  color: #000;
  border-bottom: 3px solid #0c4fff;
}
.quick ul li:first-child {
  display: none;
}
.quick .btn-wrap {
  margin-top: 10px;
  display: flex;
}
.quick .btn-wrap button {
  width: 60px;
  height: 40px;
  border: solid 1px #666;
  color: #aaaaaa;
}
.quick .btn-wrap button.on {
  background-color: #0c4fff;
  border: none;
  color: #fff;
}
.quick .mob-btn {
  display: none;
}
.wrap .content div {
  position: relative;
}

.full1 .cnt01 p {
  max-width: 766px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-size: 120px;
  font-weight: 900;
  color: #fff;
  line-height: 1;
}
.full1 .cnt01 span {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
.full1 .cnt01 span h3 {
  text-align: center;
}
.full1 .cnt01 span h3 img {
  margin-top: 11px;
  width: 24px;
  height: 12px;
}
.full2 .cnt02-title {
  width: 100%;
  max-width: 710px;
  font-size: 11.5vw;
  font-weight: 900;
  line-height: 1;
  color: #f6f6f6;
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 1;
}
.full2 .cnt02 .jokgu-info {
  position: absolute;
  top: 270px;
  right: 60%;
  z-index: 2;
  width: 100%;
  max-width: 406px;
  height: 520px;
  margin-left: 20px;
}

.full2 .cnt02 .jokgu-info.en {
  max-width: 600px;
  right: 50%;
}

.full2 .cnt02 .jokgu-info h3 {
  width: 100%;
  max-width: 277px;
  height: 94px;
  font-size: 80px;
  font-weight: 900;
  color: #111;
}
.full2 .cnt02 .jokgu-info.en h3 {
  max-width: 600px;
}
.full2 .cnt02 .jokgu-info p {
  margin: 25px 0;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.72px;
  text-align: left;
  color: #444;
}
.full2 .cnt02 .jokgu-info div a {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 282px;
  height: 60px;
  justify-content: space-between;
  border: solid 1px #222;
  background-color: #fff;
  margin-bottom: 4px;
  color: #111;
}
.full2 .cnt02 .jokgu-info div a:nth-child(3) {
  background-color: #111;
  color: #fff;
}
.full3 .cnt03 {
  position: relative;
}
.full3 .cnt03-title {
  width: 100%;
  max-width: 1160px;
  font-size: 11.5vw;
  font-weight: 900;
  line-height: 1;
  color: #f6f6f6;
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 1;
}
.full3 .cnt03 .jokgu-skill {
  width: 100%;
  max-width: 1280px;
  height: 520px;
  top: 282px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  z-index: 2;
}
.full3 .cnt03 .jokgu-skill h3 {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  height: 94px;
  font-size: 80px;
  font-weight: 900;
  color: #111;
}
.full3 .cnt03 .jokgu-skill p {
  width: 40%;
  max-width: 510px;
  margin: 25px 0;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.72px;
  text-align: left;
  color: #444;
}
.full3 .cnt03 .jokgu-skill .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.full3 .cnt03 .jokgu-skill .right a {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 282px;
  height: 60px;
  justify-content: space-between;
  border: solid 1px #222;
  background-color: #fff;
  margin-bottom: 4px;
  color: #111;
}
.full3 .cnt03 .jokgu-skill .right a:nth-child(2) {
  background-color: #111;
  color: #fff;
}
.full3 .cnt03 .jokgu-skill-flex {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.full3 .cnt03 .jokgu-skill .responsive .slick-list {
  display: flex;
  justify-content: start;
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  margin-left: 45px;
}
.full3 .cnt03 .jokgu-skill .responsive .slick-list .slick-track {
  display: flex;
}
.full3 .cnt03 .jokgu-skill .responsive .slick-list .slick-track .cont {
  width: 282px !important;
  height: 282px;
  opacity: 0.7;
  background-color: #111;
  margin-right: 24px;
}

.full4 .cnt04-title {
  width: 100%;
  max-width: 1604px;
  font-size: 11.5vw;
  font-weight: 900;
  line-height: 1;
  opacity: 0.08;
  color: #fff;
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 1;
}
.full4 .cnt04 .itc {
  position: absolute;
  top: 270px;
  right: 55%;
  z-index: 2;
  width: 600px;
  height: 520px;
}
.full4 .cnt04 .itc {
  width: 600px;
  right: 50%;
}
.full4 .cnt04 .itc h3 {
  width: 100%;
  max-width: 277px;
  height: 94px;
  font-size: 80px;
  font-weight: 900;
  color: #fff;
  line-height: 1.13;
}
.full4 .cnt04 .itc .world {
  width: 233px;
  font-size: 24px;
  height: 40px;
  border-bottom: 3px solid #fff;
}

.full4 .cnt04 .itc.en .world {
  margin-top: 110px;
  width: 360px;
  font-size: 24px;
  height: 40px;
  border-bottom: 3px solid #fff;
}

.full4 .cnt04 .itc p {
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.72px;
  text-align: left;
  color: #fff;
}
.full4 .cnt04 .itc div a {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 282px;
  height: 60px;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 4px;
  color: #111;
}
.full4 .cnt04 .itc div a:nth-child(2) {
  background-color: #0c4fff;
  color: #fff;
}
.full5 .cnt05 {
  position: relative;
}
.full5 .cnt05-title {
  width: 100%;
  max-width: 1604px;
  font-size: 11.5vw;
  font-weight: 900;
  line-height: 1;
  color: #f6f6f6;
  position: absolute;
  top: 160px;
  left: 5%;
  z-index: 1;
}
.full5 .cnt05 .itc {
  position: absolute;
  top: 350px;
  right: 49%;
  z-index: 2;
  width: 614px;
  height: 520px;
}

.full5 .cnt05 .itc.en {
  width: 673px;
}

.full5 .cnt05 .itc h3 {
  height: 94px;
  font-size: 80px;
  font-weight: 900;
  color: #111;
}

.full5 .cnt05 .itc.en h3 {
  line-height: 1.13;
}

.full5 .cnt05 .itc p {
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.72px;
  text-align: left;
  color: #111;
}

.full5 .cnt05 .itc.en p {
  margin-top: 110px;
}

.full5 .cnt05 .itc div a {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 282px;
  height: 60px;
  justify-content: space-between;
  background-color: #111;
  margin-bottom: 4px;
  color: #fff;
}
.full5 .cnt05 .right {
  position: absolute;
  z-index: 2;
  display: flex;
  gap: 20px;
  left: 55%;
  top: 350px;
}

@media screen and (max-width: 1644px) {
  .full5 .cnt05 .right {
    position: absolute;
    z-index: 2;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    left: 55%;
    top: 120px;
  }
}

@media screen and (max-width: 1250px) {
  .full2 .cnt02 .jokgu-info {
    position: absolute;
    top: 270px;
    left: 80px;
    z-index: 2;
    width: 100%;
    max-width: 406px;
    height: 520px;
    margin-left: 20px;
  }
  .full4 .cnt04 .itc {
    position: absolute;
    top: 270px;
    left: 80px;
    z-index: 2;
    width: 504px;
    height: 520px;
  }
  .full5 .cnt05 .itc {
    position: absolute;
    top: 350px;
    left: 80px;
    z-index: 2;
    width: 614px;
    height: 520px;
  }
  .full5 .cnt05 .right {
    position: absolute;
    z-index: 2;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    left: 65%;
    top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .quick {
    padding: 16px 20px 16px 20px;
  }
  .quick ul {
    display: none;
  }
  .quick .btn-wrap {
    align-items: center;
  }
  .quick .btn-wrap button {
    width: 50px !important;
    height: 32px !important;
    border: solid 1px #666;
    color: #aaaaaa;
  }
  .quick .btn-wrap button.on {
    background-color: #0c4fff;
    border: 1px solid #0c4fff !important;
    color: #fff;
  }
  .quick .btn-wrap .mob-btn {
    display: block !important;
  }
  .quick .btn-wrap .mob-btn button {
    padding-top: 5px;
    border: 0px;
  }
  .wrap .content div {
    position: relative;
  }
  .full1 {
    background-color: #000;
    background-image: url(/img/m_main_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .full1 .cnt01 p {
    max-width: 766px;
    position: absolute;
    top: 120px !important;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    line-height: 1;
  }
  .full1 .cnt01 span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
  }
  .full1 .cnt01 span h3 {
    text-align: center;
  }
  .full1 .cnt01 span h3 img {
    margin-top: 11px;
    width: 24px;
    height: 12px;
  }
  .full2 {
    background-color: #fff;
    background-image: url(/img/m_jokgu_info.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .full2 .cnt02-title {
    display: none;
  }
  .full2 .cnt02 .jokgu-info {
    position: absolute;
    top: 140px;
    left: 40px;
    z-index: 2;
    width: 406px;
    height: 520px;
  }
  .full2 .cnt02 .jokgu-info h3 {
    width: 277px;
    height: 94px;
    font-size: 60px;
    font-weight: 900;
    color: #111;
  }
  .full2 .cnt02 .jokgu-info p {
    height: auto;
    width: 406px;
    margin: 25px 0;
    font-size: 16px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #444;
    word-break: break-all;
  }
  .full2 .cnt02 .jokgu-info div a {
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    border: solid 1px #222;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .full2 .cnt02 .jokgu-info div a:nth-child(3) {
    background-color: #111;
    color: #fff;
  }
  .full3 .cnt03 {
    position: relative;
  }
  .full3 .cnt03-title {
    display: none;
  }
  .full3 .cnt03 .jokgu-skill {
    position: absolute;
    top: 140px;
    left: 200px;
    z-index: 2;
    width: 100%;
    max-width: 341px;
    height: 520px;
  }
  .full3 .cnt03 .jokgu-skill h3 {
    width: 100%;
    margin: 0 auto;
    max-width: 341px;
    height: 94px;
    font-size: 60px;
    font-weight: 900;
    color: #111;
  }
  .full3 .cnt03 .jokgu-skill p {
    width: 100%;
    max-width: 341px;
    margin: 25px 0;
    font-size: 16px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #444;
  }
  .full3 .cnt03 .jokgu-skill .right {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .full3 .cnt03 .jokgu-skill .right a {
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 282px;
    height: 60px;
    justify-content: space-between;
    border: solid 1px #222;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .full3 .cnt03 .jokgu-skill .right a:nth-child(2) {
    background-color: #111;
    color: #fff;
  }
  .full3 .cnt03 .jokgu-skill-flex {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: block;
    justify-content: space-between;
  }
  .full3 .cnt03 .jokgu-skill .responsive .slick-list {
    display: flex;
    justify-content: start;
    gap: 24px;
    width: 350px;
    margin-left: 0px;
    margin-top: 60px;
  }
  .slick-slider {
    max-width: 350px !important;
  }
  .slick-next:before {
    display: none;
  }
  .slick-next {
    display: none;
  }
  .slick-dots {
    max-width: 350px !important;
    left: 0px;
  }
  .slick-prev:before {
    display: none;
  }
  .slick-prev {
    display: none;
  }
  .full3 .cnt03 .jokgu-skill .responsive .slick-list .slick-track {
    display: flex;
  }
  .full3 .cnt03 .jokgu-skill .responsive .slick-list .slick-track .cont {
    width: 170px !important;
    height: 170px;
    opacity: 0.7;
    background-color: #111;
    margin-right: 10px;
  }
  .full4 {
    background-color: #000;
    background-image: url(/img/m_itc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .full4 .cnt04-title {
    display: none;
  }
  .full4 .cnt04 .itc {
    position: absolute;
    top: 140px;
    left: 40px;
    z-index: 2;
    width: 504px;
    height: 520px;
  }
  .full4 .cnt04 .itc h3 {
    width: 277px;
    height: 94px;
    font-size: 60px;
    font-weight: 900;
    color: #fff;
  }
  .full4 .cnt04 .itc .world {
    width: 233px;
    font-size: 20px;
    height: 40px;
    border-bottom: 3px solid #fff;
  }
  .full4 .cnt04 .itc p {
    width: 320px;
    margin: 30px 0;
    font-size: 16px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #fff;
  }
  .full4 .cnt04 .itc div a {
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .full4 .cnt04 .itc div a:nth-child(2) {
    background-color: #0c4fff;
    color: #fff;
  }
  .full5 .cnt05 {
    position: relative;
  }
  .full5 .cnt05-title {
    display: none;
  }
  .full5 .cnt05 .itc {
    position: absolute;
    top: 140px;
    left: 40px;
    z-index: 2;
    width: 346px;
    height: 520px;
  }
  .full5 .cnt05 .itc h3 {
    line-height: 1.2;
    height: 94px;
    font-size: 60px;
    font-weight: 900;
    color: #111;
  }
  .full5 .cnt05 .itc p {
    margin-top: 80px;
    font-size: 16px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #111;
  }
  .full5 .cnt05 .itc div a {
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    background-color: #111;
    margin-bottom: 4px;
    color: #fff;
  }
  .full5 .cnt05 .right {
    position: absolute;
    z-index: 2;
    display: flex;
    gap: 20px;
    left: 40px;
    top: 545px;
    flex-wrap: nowrap;
  }
  .full5 .cnt05 .right img {
    width: 240px;
    height: 240px;
  }
} /*# sourceMappingURL=style.css.map */
