* {
  font-family: "Pretendard", sans-serif !important;
}

.wrap .header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 40px 0px 16px;
  border-bottom: 1px solid #eee;
}
.wrap .header ul {
  height: 70px;
}
.wrap .header ul::after {
  content: "";
  display: block;
  clear: both;
}
.wrap .header ul li {
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  margin-right: 40px;
}
.wrap .header ul li:first-child {
  border-left: none;
}
.wrap .header ul li a {
  display: block;
  height: 70px;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  background-color: none;
  color: #aaaaaa;
  font-size: 20px;
  font-weight: 500;
}
.wrap .header ul li.on a {
  padding-bottom: 0px;
  color: #000;
  border-bottom: 3px solid #0c4fff;
}
.wrap .header ul li:first-child {
  display: block;
}
.wrap .header ul li.color {
  color: #eee;
}
.wrap .header .btn-wrap {
  margin-top: 10px;
  display: flex;
}
.wrap .header .btn-wrap button {
  width: 60px;
  height: 40px;
  border: solid 1px #666;
  color: #aaaaaa;
}
.wrap .header .btn-wrap button.on {
  background-color: #0c4fff;
  border: none;
  color: #fff;
}
.wrap .header .mob-btn {
  display: none;
}
.wrap .content div {
  position: relative;
}
.wrap .content .cnt01 {
  background-image: url(/img/main_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrap .content .cnt01 p {
  max-width: 766px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-size: 120px;
  font-weight: 900;
  color: #fff;
  line-height: 1;
}
.wrap .content .cnt01 span {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
.wrap .content .cnt01 span h3 {
  text-align: center;
}
.wrap .content .cnt01 span h3 img {
  margin-top: 11px;
  width: 24px;
  height: 12px;
}
.wrap .content .cnt02 {
  background-image: url(/img/jokgu_info.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.wrap .content .cnt02-title {
  width: 100%;
  max-width: 710px;
  font-size: 200px;
  font-weight: 900;
  line-height: 1;
  color: #f6f6f6;
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 1;
}
.wrap .content .cnt02 .jokgu-info {
  position: absolute;
  top: 270px;
  left: 360px;
  z-index: 2;
  width: 100%;
  max-width: 406px;
  height: 520px;
}
.wrap .content .cnt02 .jokgu-info h3 {
  width: 100%;
  max-width: 277px;
  height: 94px;
  font-size: 80px;
  font-weight: 900;
  color: #111;
}
.wrap .content .cnt02 .jokgu-info p {
  margin: 25px 0;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.72px;
  text-align: left;
  color: #444;
}
.wrap .content .cnt02 .jokgu-info div a {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 282px;
  height: 60px;
  justify-content: space-between;
  border: solid 1px #222;
  background-color: #fff;
  margin-bottom: 4px;
  color: #111;
}
.wrap .content .cnt02 .jokgu-info div a:nth-child(3) {
  background-color: #111;
  color: #fff;
}
.wrap .content .cnt03 {
  position: relative;
}
.wrap .content .cnt03-title {
  width: 100%;
  max-width: 1160px;
  font-size: 200px;
  font-weight: 900;
  line-height: 1;
  color: #f6f6f6;
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 1;
}
.wrap .content .cnt03 .jokgu-skill {
  position: absolute;
  top: 270px;
  left: 360px;
  z-index: 2;
  width: 100%;
  max-width: 1280px;
  height: 520px;
}
.wrap .content .cnt03 .jokgu-skill h3 {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  height: 94px;
  font-size: 80px;
  font-weight: 900;
  color: #111;
}
.wrap .content .cnt03 .jokgu-skill p {
  width: 40%;
  max-width: 510px;
  margin: 25px 0;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.72px;
  text-align: left;
  color: #444;
}
.wrap .content .cnt03 .jokgu-skill .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.wrap .content .cnt03 .jokgu-skill .right a {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 282px;
  height: 60px;
  justify-content: space-between;
  border: solid 1px #222;
  background-color: #fff;
  margin-bottom: 4px;
  color: #111;
}
.wrap .content .cnt03 .jokgu-skill .right a:nth-child(2) {
  background-color: #111;
  color: #fff;
}
.wrap .content .cnt03 .jokgu-skill-flex {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrap .content .cnt03 .jokgu-skill .responsive .slick-list {
  display: flex;
  justify-content: start;
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  margin-left: 45px;
}
.wrap .content .cnt03 .jokgu-skill .responsive .slick-list .slick-track {
  display: flex;
}
.wrap .content .cnt03 .jokgu-skill .responsive .slick-list .slick-track .cont {
  width: 282px !important;
  height: 282px;
  opacity: 0.7;
  background-color: #111;
  margin-right: 24px;
}
.wrap .content .cnt04 {
  background-image: url(/img/itc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.wrap .content .cnt04-title {
  width: 100%;
  max-width: 1604px;
  font-size: 200px;
  font-weight: 900;
  line-height: 1;
  opacity: 0.08;
  color: #fff;
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 1;
}
.wrap .content .cnt04 .itc {
  position: absolute;
  top: 270px;
  left: 360px;
  z-index: 2;
  width: 504px;
  height: 520px;
}
.wrap .content .cnt04 .itc h3 {
  width: 100%;
  max-width: 277px;
  height: 94px;
  font-size: 80px;
  font-weight: 900;
  color: #fff;
}
.wrap .content .cnt04 .itc .world {
  width: 233px;
  font-size: 24px;
  height: 40px;
  border-bottom: 3px solid #fff;
}
.wrap .content .cnt04 .itc p {
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.72px;
  text-align: left;
  color: #fff;
}
.wrap .content .cnt04 .itc div a {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 282px;
  height: 60px;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 4px;
  color: #111;
}
.wrap .content .cnt04 .itc div a:nth-child(2) {
  background-color: #0c4fff;
  color: #fff;
}
.wrap .content .cnt05 {
  position: relative;
}
.wrap .content .cnt05-title {
  width: 100%;
  max-width: 1604px;
  font-size: 200px;
  font-weight: 900;
  line-height: 1;
  color: #f6f6f6;
  position: absolute;
  top: 160px;
  left: 5%;
  z-index: 1;
}
.wrap .content .cnt05 .itc {
  position: absolute;
  top: 350px;
  left: 360px;
  z-index: 2;
  width: 614px;
  height: 520px;
}
.wrap .content .cnt05 .itc h3 {
  height: 94px;
  font-size: 80px;
  font-weight: 900;
  color: #111;
}
.wrap .content .cnt05 .itc p {
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: -0.72px;
  text-align: left;
  color: #111;
}
.wrap .content .cnt05 .itc div a {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 282px;
  height: 60px;
  justify-content: space-between;
  background-color: #111;
  margin-bottom: 4px;
  color: #fff;
}
.wrap .content .cnt05 .right {
  position: absolute;
  z-index: 2;
  display: flex;
  gap: 20px;
  right: 106px;
  top: 350px;
}

@media screen and (max-width: 1645px) {
  .content div {
    position: relative;
  }
  .content .cnt01 {
    background-image: url(/img/main_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .content .cnt01 p {
    max-width: 766px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 120px;
    font-weight: 900;
    color: #fff;
    line-height: 1;
  }
  .content .cnt01 span {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
  }
  .content .cnt01 span h3 {
    text-align: center;
  }
  .content .cnt01 span h3 img {
    margin-top: 11px;
    width: 24px;
    height: 12px;
  }
  .content .cnt02 {
    background-image: url(/img/jokgu_info.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .content .cnt02-title {
    width: 710px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    color: #f6f6f6;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .content .cnt02 .jokgu-info {
    position: absolute;
    top: 250px !important;
    left: 300px !important;
    z-index: 2;
    width: 406px;
    height: 520px;
  }
  .content .cnt02 .jokgu-info h3 {
    width: 277px;
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #111;
  }
  .content .cnt02 .jokgu-info p {
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #444;
  }
  .content .cnt02 .jokgu-info div a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    border: solid 1px #222;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .content .cnt02 .jokgu-info div a:nth-child(3) {
    background-color: #111;
    color: #fff;
  }
  .content .cnt03 {
    position: relative;
  }
  .content .cnt03-title {
    width: 1160px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    color: #f6f6f6;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .content .cnt03 .jokgu-skill {
    position: absolute;
    top: 270px;
    left: 250px !important;
    z-index: 2;
    width: 100%;
    max-width: 1280px;
    height: 520px;
  }
  .content .cnt03 .jokgu-skill h3 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #111;
  }
  .content .cnt03 .jokgu-skill p {
    width: 40%;
    max-width: 510px;
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #444;
  }
  .content .cnt03 .jokgu-skill .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .content .cnt03 .jokgu-skill .right a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 282px;
    height: 60px;
    justify-content: space-between;
    border: solid 1px #222;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .content .cnt03 .jokgu-skill .right a:nth-child(2) {
    background-color: #111;
    color: #fff;
  }
  .content .cnt03 .jokgu-skill-flex {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .content .cnt03 .jokgu-skill .responsive .slick-list {
    display: flex;
    justify-content: start;
    gap: 24px;
    width: 1200px;
    margin-left: 45px;
  }
  .content .cnt03 .jokgu-skill .responsive .slick-list .slick-track {
    display: flex;
  }
  .content .cnt03 .jokgu-skill .responsive .slick-list .slick-track .cont {
    width: 282px !important;
    height: 282px;
    opacity: 0.7;
    background-color: #111;
    margin-right: 24px;
  }
  .content .cnt04 {
    background-image: url(/img/itc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .content .cnt04-title {
    width: 1604px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    opacity: 0.08;
    color: #fff;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .content .cnt04 .itc {
    position: absolute;
    top: 270px;
    left: 360px;
    z-index: 2;
    width: 504px;
    height: 520px;
  }
  .content .cnt04 .itc h3 {
    width: 277px;
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #fff;
  }
  .content .cnt04 .itc .world {
    width: 233px;
    font-size: 24px;
    height: 40px;
    border-bottom: 3px solid #fff;
  }
  .content .cnt04 .itc p {
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #fff;
  }
  .content .cnt04 .itc div a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .content .cnt04 .itc div a:nth-child(2) {
    background-color: #0c4fff;
    color: #fff;
  }
  .content .cnt05 {
    position: relative;
  }
  .content .cnt05-title {
    width: 1604px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    color: #f6f6f6;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .content .cnt05 .itc {
    position: absolute;
    top: 350px;
    left: 360px;
    z-index: 2;
    width: 614px;
    height: 520px;
  }
  .content .cnt05 .itc h3 {
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #111;
  }
  .content .cnt05 .itc p {
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #111;
  }
  .content .cnt05 .itc div a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    background-color: #111;
    margin-bottom: 4px;
    color: #fff;
  }
  .content .cnt05 .right {
    position: absolute;
    z-index: 2;
    display: flex;
    gap: 20px;
    right: 106px;
    top: 350px;
  }
}
@media screen and (max-width: 1460px) {
  .content div {
    position: relative;
  }
  .content .cnt01 {
    background-image: url(/img/main_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .content .cnt01 p {
    max-width: 766px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 120px;
    font-weight: 900;
    color: #fff;
    line-height: 1;
  }
  .content .cnt01 span {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
  }
  .content .cnt01 span h3 {
    text-align: center;
  }
  .content .cnt01 span h3 img {
    margin-top: 11px;
    width: 24px;
    height: 12px;
  }
  .content .cnt02 {
    background-image: url(/img/jokgu_info.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .content .cnt02-title {
    width: 710px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    color: #f6f6f6;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .content .cnt02 .jokgu-info {
    position: absolute;
    top: 250px !important;
    left: 300px !important;
    z-index: 2;
    width: 406px;
    height: 520px;
  }
  .content .cnt02 .jokgu-info h3 {
    width: 277px;
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #111;
  }
  .content .cnt02 .jokgu-info p {
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #444;
  }
  .content .cnt02 .jokgu-info div a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    border: solid 1px #222;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .content .cnt02 .jokgu-info div a:nth-child(3) {
    background-color: #111;
    color: #fff;
  }
  .content .cnt03 {
    position: relative;
  }
  .content .cnt03-title {
    width: 1160px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    color: #f6f6f6;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .content .cnt03 .jokgu-skill {
    position: absolute;
    top: 270px;
    left: 360px;
    z-index: 2;
    width: 100%;
    max-width: 1280px;
    height: 520px;
  }
  .content .cnt03 .jokgu-skill h3 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #111;
  }
  .content .cnt03 .jokgu-skill p {
    width: 40%;
    max-width: 510px;
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #444;
  }
  .content .cnt03 .jokgu-skill .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .content .cnt03 .jokgu-skill .right a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 282px;
    height: 60px;
    justify-content: space-between;
    border: solid 1px #222;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .content .cnt03 .jokgu-skill .right a:nth-child(2) {
    background-color: #111;
    color: #fff;
  }
  .content .cnt03 .jokgu-skill-flex {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .content .cnt03 .jokgu-skill .responsive .slick-list {
    display: flex;
    justify-content: start;
    gap: 24px;
    width: 1200px;
    margin-left: 45px;
  }
  .content .cnt03 .jokgu-skill .responsive .slick-list .slick-track {
    display: flex;
  }
  .content .cnt03 .jokgu-skill .responsive .slick-list .slick-track .cont {
    width: 282px !important;
    height: 282px;
    opacity: 0.7;
    background-color: #111;
    margin-right: 24px;
  }
  .content .cnt04 {
    background-image: url(/img/itc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .content .cnt04-title {
    width: 1604px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    opacity: 0.08;
    color: #fff;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .content .cnt04 .itc {
    position: absolute;
    top: 270px;
    left: 360px;
    z-index: 2;
    width: 504px;
    height: 520px;
  }
  .content .cnt04 .itc h3 {
    width: 277px;
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #fff;
  }
  .content .cnt04 .itc .world {
    width: 233px;
    font-size: 24px;
    height: 40px;
    border-bottom: 3px solid #fff;
  }
  .content .cnt04 .itc p {
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #fff;
  }
  .content .cnt04 .itc div a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .content .cnt04 .itc div a:nth-child(2) {
    background-color: #0c4fff;
    color: #fff;
  }
  .content .cnt05 {
    position: relative;
  }
  .content .cnt05-title {
    width: 1604px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    color: #f6f6f6;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .content .cnt05 .itc {
    position: absolute;
    top: 350px;
    left: 360px;
    z-index: 2;
    width: 614px;
    height: 520px;
  }
  .content .cnt05 .itc h3 {
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #111;
  }
  .content .cnt05 .itc p {
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #111;
  }
  .content .cnt05 .itc div a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    background-color: #111;
    margin-bottom: 4px;
    color: #fff;
  }
  .content .cnt05 .right {
    position: absolute;
    z-index: 2;
    display: flex;
    gap: 20px;
    right: 106px;
    top: 350px;
  }
}
@media screen and (max-width: 768px) {
  .wrap .header {
    padding: 16px 20px 16px 20px;
  }
  .wrap .header ul {
    display: none;
  }
  .wrap .header .btn-wrap {
    align-items: center;
  }
  .wrap .header .btn-wrap button {
    width: 50px !important;
    height: 32px !important;
    border: solid 1px #666;
    color: #aaaaaa;
  }
  .wrap .header .btn-wrap button.on {
    background-color: #0c4fff;
    border: 1px solid #0c4fff !important;
    color: #fff;
  }
  .wrap .header .btn-wrap .mob-btn {
    display: block !important;
  }
  .wrap .header .btn-wrap .mob-btn button {
    padding-top: 5px;
    border: 0px;
  }
  .wrap .content div {
    position: relative;
  }
  .wrap .content .cnt01 {
    background-color: #000;
    background-image: url(/img/m_main_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .wrap .content .cnt01 p {
    max-width: 766px;
    position: absolute;
    top: 120px !important;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    line-height: 1;
  }
  .wrap .content .cnt01 span {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
  }
  .wrap .content .cnt01 span h3 {
    text-align: center;
  }
  .wrap .content .cnt01 span h3 img {
    margin-top: 11px;
    width: 24px;
    height: 12px;
  }
  .wrap .content .cnt02 {
    background-image: url(/img/jokgu_info.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .wrap .content .cnt02-title {
    width: 710px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    color: #f6f6f6;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .wrap .content .cnt02 .jokgu-info {
    position: absolute;
    top: 250px !important;
    left: 300px !important;
    z-index: 2;
    width: 406px;
    height: 520px;
  }
  .wrap .content .cnt02 .jokgu-info h3 {
    width: 277px;
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #111;
  }
  .wrap .content .cnt02 .jokgu-info p {
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #444;
  }
  .wrap .content .cnt02 .jokgu-info div a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    border: solid 1px #222;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .wrap .content .cnt02 .jokgu-info div a:nth-child(3) {
    background-color: #111;
    color: #fff;
  }
  .wrap .content .cnt03 {
    position: relative;
  }
  .wrap .content .cnt03-title {
    width: 1160px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    color: #f6f6f6;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .wrap .content .cnt03 .jokgu-skill {
    position: absolute;
    top: 270px;
    left: 360px;
    z-index: 2;
    width: 100%;
    max-width: 1280px;
    height: 520px;
  }
  .wrap .content .cnt03 .jokgu-skill h3 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #111;
  }
  .wrap .content .cnt03 .jokgu-skill p {
    width: 40%;
    max-width: 510px;
    margin: 25px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #444;
  }
  .wrap .content .cnt03 .jokgu-skill .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .wrap .content .cnt03 .jokgu-skill .right a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 282px;
    height: 60px;
    justify-content: space-between;
    border: solid 1px #222;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .wrap .content .cnt03 .jokgu-skill .right a:nth-child(2) {
    background-color: #111;
    color: #fff;
  }
  .wrap .content .cnt03 .jokgu-skill-flex {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .wrap .content .cnt03 .jokgu-skill .responsive .slick-list {
    display: flex;
    justify-content: start;
    gap: 24px;
    width: 1200px;
    margin-left: 45px;
  }
  .wrap .content .cnt03 .jokgu-skill .responsive .slick-list .slick-track {
    display: flex;
  }
  .wrap .content .cnt03 .jokgu-skill .responsive .slick-list .slick-track .cont {
    width: 282px !important;
    height: 282px;
    opacity: 0.7;
    background-color: #111;
    margin-right: 24px;
  }
  .wrap .content .cnt04 {
    background-image: url(/img/itc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .wrap .content .cnt04-title {
    width: 1604px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    opacity: 0.08;
    color: #fff;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .wrap .content .cnt04 .itc {
    position: absolute;
    top: 270px;
    left: 360px;
    z-index: 2;
    width: 504px;
    height: 520px;
  }
  .wrap .content .cnt04 .itc h3 {
    width: 277px;
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #fff;
  }
  .wrap .content .cnt04 .itc .world {
    width: 233px;
    font-size: 24px;
    height: 40px;
    border-bottom: 3px solid #fff;
  }
  .wrap .content .cnt04 .itc p {
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #fff;
  }
  .wrap .content .cnt04 .itc div a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 4px;
    color: #111;
  }
  .wrap .content .cnt04 .itc div a:nth-child(2) {
    background-color: #0c4fff;
    color: #fff;
  }
  .wrap .content .cnt05 {
    position: relative;
  }
  .wrap .content .cnt05-title {
    width: 1604px;
    font-size: 200px;
    font-weight: 900;
    line-height: 1;
    color: #f6f6f6;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 1;
  }
  .wrap .content .cnt05 .itc {
    position: absolute;
    top: 350px;
    left: 360px;
    z-index: 2;
    width: 614px;
    height: 520px;
  }
  .wrap .content .cnt05 .itc h3 {
    height: 94px;
    font-size: 80px;
    font-weight: 900;
    color: #111;
  }
  .wrap .content .cnt05 .itc p {
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: -0.72px;
    text-align: left;
    color: #111;
  }
  .wrap .content .cnt05 .itc div a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 282px;
    height: 60px;
    justify-content: space-between;
    background-color: #111;
    margin-bottom: 4px;
    color: #fff;
  }
  .wrap .content .cnt05 .right {
    position: absolute;
    z-index: 2;
    display: flex;
    gap: 20px;
    right: 106px;
    top: 350px;
  }
}/*# sourceMappingURL=style.css.map */